.wrapper{
    width: 100%;
    height: 100vh;
    display: grid;

    /* 3 colunas de 200px */
    /* repeat(3, 200px);*/ 
    grid-template-columns: minmax(200px, 40%) 200px 200px;

    /* espaço entre colunas */ 
    grid-column-gap: 10px;

    /* altura das linhas */
    grid-template-rows: 200px 200px 200px; 

    /* altura automática */
    grid-auto-rows: 200px;
    
   /* justify-items: center;
    align-items: center;*/
}

/* divs internas */
.wrapper div{
    background-color: rgb(50, 106, 158);
    width: 200px;
    height: 200px;
}

/* pares */
.wrapper div:nth-child(2){
    background-color: rgb(172, 53, 53);
    align-self: end;
    justify-self: end;
    
}


/* ========================= */

.ulu{
    display: grid;

    /* primeira coluna 40% */
    grid-template-columns: 1fr 1fr 1fr;

    /* espaço entre colunas */
    grid-column-gap: 10px;

    /* altura das linhas */
    grid-template-rows: 200px 200px 200px;

    /* altura automática */
    grid-auto-rows: 200px;
    margin-top: 20px;
}

/* divs internas */
.ulu div{
    background-color: rgb(50, 106, 158);
    width: 200px;
    height: 200px;
}

/* pares */
.ulu div:nth-child(even){
    background-color: rgb(172, 53, 53);
}

.ghy{
    display: grid; 
    grid-template-columns:repeat(1,1fr) ;
    grid-template-rows: repeat(3,minmax(100px,auto) );
    grid-gap: 1rem;
    margin-top: 10px;

    @media (min-width: 768px){

    grid-template-columns: repeat(5, 1fr); /*tem span tbm*/;
 }
 
}

.ghy > div {
background-color: aqua;
font-size: 2rem;
padding: 1rem;

}

.ghy> div:nth-child(1){
 background-color: brown;
 grid-column: 1/ -1 /*tem span tbm*/;
 height: 400px;

}
.ghy> div:nth-child(2){
 background-color: brown;
 grid-column: 1/ 1 /*tem span tbm*/;

}

.ghy> div:nth-child(3){
 background-color: brown;
 grid-column: 2/ 5/*tem span tbm*/;

}

.ghy> div:nth-child(5){ 
 background-color: brown;
 grid-column: 1/ -1 /*tem span tbm*/;

}

/*grid rows start */

.aaa{ 
    height: 100vh;
    display: grid; 
    grid-template-columns:repeat(5,1fr) ;
    grid-template-rows: 200px;
    grid-gap: 10px;
    margin-top: 10px;
}

.aaa > div {
background-color: rgb(74, 99, 99);
font-size: 2rem;
padding: 1rem;

}

.aaa> div:nth-child(1){ 
    grid-column: 1/3;
 grid-row: 1/3;

}

.aaa> div:nth-child(2){ 
    background-color: blueviolet;
    grid-column: 2/4;
 grid-row: 2/4;
 z-index: 1;

}

.aaa> div:nth-child(3){ 
    grid-column: 3/5;
 grid-row: 3/5;

}








.ooo{ 
    height: 100vh;
    display: grid; 
    grid-template-columns:repeat(auto-fit,100px) ;
    grid-template-rows: 200px;
    grid-gap: .5rem;
    margin-top: 10px;
    grid-template-areas: "header header header header header"
    "aside main main main  main"
    "footer footer footer footer footer";
}
  
header{
    grid-area: header;
}

main{
    grid-area: main;
}

aside{
    grid-area: aside;
}

footer{
    grid-area: footer;
}




.ooo > * div {
background-color: rgb(74, 99, 99);
width: 200px;
height: 200px;
font-size: 2rem;
padding: 1rem;

}

.ooo> * div:nth-child(1){ 
   

}

.ooo> * div:nth-child(2){ 
    background-color: blueviolet;
  

}

.ooo> div:nth-child(3){ 
 

}


@media(min-width:768px){
.eee{ 
    height: 100vh;
    display: grid; 
    grid-template-columns:[pizza]repeat(5,1fr)[sorvete]1fr ;
    grid-template-rows: 200px;
    grid-gap: .5rem;
    margin-top: 10px;
}
}
.eee> * div {
background-color: rgb(74, 99, 99);




}

header, footer{
    grid-column: pizza/sorvete;
}